body {
    background-color: #ecf0f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

thead {
    background-color: #7f8fa6;
    text-align: center;
    color: white;
}

#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 70%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.tablecontainer {
    width: 90%;
    height: 90vh;
    overflow-x: scroll;
    overflow-y: scroll;
}

table {
    position: relative;
    background-color: white;
    border-collapse: collapse;
}


/* th:hover {
    color: rgb(221, 221, 221);
} */

tbody tr:hover {
    background-color: #f5f6fa;
}

tbody td:hover {
    text-shadow: 1px 1px;
}

.heading {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    text-shadow: 2px 2px #ebebeb;
}

.heading:hover {
    font-size: 3.5rem;
}

tbody {
    font-family: 'Playfair Display', serif;
}

thead {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    position: sticky;
    top: 0;
}

th,
td {
    padding: 15px;
}

.col {
    position: sticky;
    top: 0;
    background: #7f8fa6;
}

.headcol {
    font-weight: bold;
}